.Card_back {
    padding: 8px;
    background: repeating-linear-gradient( 45deg, rgb(191, 191, 191), rgb(191, 191, 191) 10px, darkgrey 10px, darkgrey 20px);
    transition: all .2s ease-in-out;
}

img {
    width: 60px;
    padding: 10px;
}

.Card_back:hover {
    transform: scale(1.1);
    border-radius: 5px;
    border: 3px solid black;
    background: repeating-linear-gradient( 140deg, lightgrey, lightgrey 10px, rgb(145, 233, 177) 10px, rgb(145, 233, 177) 20px);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Card_back:hover>img {
    transform: scaleX(-1);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.Card {
    width: 150px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    perspective: 800px;
    outline: none;
}

.Card_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    outline: none;
}

.Card_front, .Card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.Card_front {
    background-color: white;
    font-size: 30px;
    padding-top: 15px;
    transform: rotateY(180deg);
}

.Card_inner.flipped {
    transform: rotateY(180deg);
}